* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

/* Color palette
#240041
#900048
#ff4057
#ff8260  */

ul {
    list-style: none;
}

/*body background animation */
body {
    /*background: linear-gradient(-45deg, #240041, #900048, #ff4057, #ff8260);*/
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
    
@keyframes gradient {
    0% { background-color: #ff8260; }
  25% { background-color: #ff4057; }
  50% { background-color: #900048; }
  75% {background-color: #240041; }
  100% { background-color: #ff8260; }
}


/* Navbar */
.navbar {
    background: linear-gradient(45deg,#ff8260,  #900048);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 1vh;
}

.navbar ul li {
    display: inline-block;
    padding: 2vh 4vh;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 3vh;
}

.navbar ul li a:hover {
    color: #240041;
    transition: .3s;
}

/*Border elements */
.border {
    border: 0.6vh solid #900048;
    border-radius: 10px;
    margin: 2vh;
    overflow: hidden;
    background-color: white;
}

/* Hero */
span {
    animation: color-change 15s ease infinite;
}

@keyframes color-change {
  0% { color: #ff8260; }
  25% { color: #ff4057; }
  50% { color: #900048; }
  75% {color: #240041; }
  100% { color: #ff8260; }
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}

.hero-text {
    text-align: center;
}

.hero-text h1 {
    font-size: 14vh;
    margin: 4vh;
}

.hero-text p {
    margin: 4vh;
    font-size: 4vh;
}

.hero-img{
    display: table;
    padding: 2vh;
}

.hero img {
    height: auto;
    max-width: 65vh;
    border-radius: 2vh;
    display: block;
    
}

figcaption {
    text-align: center;
    font-size: 2.7vh;
    display: table-caption;
    caption-side: bottom;
    background: #fff;
    padding: 0 2vh 2vh;
}

/* About */
.about {
    display:block;
}

.about h2 {
    font-size: 5.5vh;
    text-align: center;
    margin: 3vh 6vh 6vh 6vh;
}

.about p {
    font-size: 4.5vh;
    text-align: justify;
    line-height: 7vh;
    margin: 0vh 3vh 6vh 3vh;
}


/* Education */
#div-edu {
    display:flex;
    justify-content: center;
    align-items: center;
}

.main-title {
    text-align: center;
    margin: 4.5vh auto 5vh;
    font-size: 4vh;
}

.title {
    font-size: 3.5vh;
    margin: 2vh;
}

.course-info {
    margin: 2vh auto auto 3vh;
    font-size: 3vh;
}

#education ul li:last-of-type {
    margin-bottom: 5vh;
}

/*courses and skills */
.skill-div p:last-of-type {
    margin-bottom: 5vh;
}

/* Languages */
.lang-div {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}



#languages .title {
    font-size: 4.5vh;
}

#languages .course-info {
    margin: 2vh;
    font-size: 3.5vh;
}

/* footer */

#contact h1, #contact p {
    color: white;
    margin: 3vh;
}

#contact a:hover {
    color: #240041;
    transition: .3s;
}


/* for mobile */

@media (max-width:750px) {
    .hero {
        display: block;
    }

    .hero-text h1 {
        font-size: 11vh;
        margin: 1vh;
    }

    .hero-img {
        display: inline block;
        margin: auto;
    }

    .hero img {
        height: auto;
        max-width: 45vh;
        border-radius: 2vh;
        display: block;
        
    }

    .about p {
        text-align: center;
    }

    #div-edu {
        display: block;
    }

    .lang-div {
        display: block;
    }
}